//%p#notice= notice
//= link_to 'Edit', edit_movie_path(@movie)
//\|
//= link_to 'Back', movies_path
.container-fluid.individual-page-container
  .container.individual-movie-details
    .row
      .col-lg-3
        = image_tag  "cover.jpg", class: "individual-movie-cover"
      .col-lg-6
        .individual-movie-container
          %h1.individual-movie-title
            = @movie.name
          %h2.individual-movie-info
            = @movie.release_date
          %h2.individual-movie-info
            = @genres
          %h2.individual-movie-info
            <i> Available in: </i>
            = '4K'
          %h2.individual-movie-info
            = @movie.total_likes
          %h2.individual-movie-info
            = @movie.rating
      .col-lg-3
        %h2.individual-similar-movies
          Similar Movies
  .container.individual-movie-plot
    .row
      .col-lg-8
        %h3
          Synopsis
        .individual-movie-synopsis
          =@movie.synopsis
        .individual-movie-synopsis
          %em
            Uploaded By:
            =@movie.created_by.user_name
        .individual-movie-creation-time
          =@movie.updated_at
      .col-lg-4
        .individual-movie-director-container
          %h3
            Director
          - @directors.each do |director|
            .individual-movie-creation-time
              = image_tag  "pic.jpg", class: "individual-movie-staff"
              = director.actor.name
        %h3
          Cast
        - @actors.each do |actor|     
          .individual-movie-creation-time    
            = image_tag  "pic.jpg", class: "individual-movie-staff"
            ="#{actor.actor.name} as #{actor.acting_as}"
  .container.individual-movie-feedback
    .row
      .col-lg-6
        %h3
          ="#{@comments.length} Comments"
        .individual-movie-comments-container
          - @comments.each do|comment|
            =render partial: "comment_block", locals: {comment: comment}
      .col-lg-6
        %h3
          Movie Reviews
        - @reviews.each do |review|
          =render partial: "review_block", locals: {review: review}