%div
  %div
    - if movie.profile_photo.nil? 
      = image_tag  "cover.jpg", class: "individual-movie-cover"
    - else
      = image_tag movie.profile_photo.path.url, class: "individual-movie-cover"
  %div
    %p.movie-title
      = link_to "#{movie.name}", movie_path(movie)
    %p.movie-release-date
      = movie.release_date
